*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
   
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue
  }
  .img{
    width: 500px;
    margin-left: 270px;
  
  }
  
  .container {
    width: 1000px;
    max-width: 100%;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 20px 5px 15px 5px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 27px;
  }
  
  .btn:hover {
    
    color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start, .next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 20px;
     margin-top: 20px;
    
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
}
#question>h2{
  margin-left: 25%
}
